<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.apcurium.MK.TaxiHailDemoCallbox" android:versionCode="16" android:versionName="1.5.10">
  <uses-sdk android:targetSdkVersion="14" />
  <application android:label="TaxiHail Callbox" android:icon="@drawable/icon" android:screenOrientation="landscape">
  </application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>