<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings file="..\..\..\..\..\..\YourDev.config">
    <add key="SourceFolder" value="C:\MobileKnowledge\taxihail\Src\"/>
  
    <add key="CustomerPortalWebProject" value="CustomerPortal\CustomerPortal.Web\CustomerPortal.Web.csproj" />
    <add key="CustomerPortalWebConfig" value="CustomerPortal\CustomerPortal.Web\Web.Config" />
    <add key="ServerMiddleWaraWebConfig" value="Server\apcurium.MK.Web\Web.config"/>
    <add key="ServerMiddleWareDBConnectionString" value="Data Source=YVESRLT\SQLExpress2012;Initial Catalog=LAMP;Integrated Security=True; MultipleActiveResultSets=True"/>
    <add key="MongoDBConfigSetting" value="mongodb://52.30.144.146:27017/TaxiHailCustomerPortal" />
    <add key="JsonSettings" value="Mobile\Common\Settings\Settings.json"/>
    <add key="ServiceUrl" value="http://64.179.223.211:7777/apcurium.MK.Web/api"/>
    <add key="TaxiHail.ApplicationKey" value="LAMP"/>
    <add key="TaxiHail.ApplicationName" value="LAMP"/>
    
  </appSettings>
</configuration>