@logoPath: '../img/logo.png';
.brand {
    background: url(@logoPath) no-repeat;
}
@taxiHailBlue:          #f00;
@textColor: @taxiHailBlue;

@headerBackground: #f00;
@headerBackgroundDark: #c00;

@btnPrimaryBackground:              #0a0;
@btnPrimaryBackgroundHighlight:     #0c0;

@btnDangerBackground:               #c00;
@btnDangerBackgroundHighlight:      #f00;