<?xml version="1.0" encoding="utf-8" ?>
<scripts>
  <script src="common/utils.js"></script>
  <!-- mixins -->
  <script src="common/mixins/ValidatedView.js"></script>
  <!-- models -->
  <script src="common/models/Address.js"></script>
  <script src="common/models/UserAccount.js"></script>
  <script src="models/Order.js"></script>
  <script src="models/OrderStatus.js"></script>
  <script src="models/Settings.js"></script>
  <script src="models/NewAccount.js"></script>
  <script src="models/ReferenceData.js"></script>
  <!-- collections -->
  <script src="common/collections/AddressCollection.js"></script>
  <script src="collections/OrderCollection.js"></script>
  <!-- views -->
  <script src="common/views/TemplatedView.js"></script>
  <script src="common/views/LoginStatusView.js"></script>
  <script src="views/AlertView.js"></script>
  <script src="views/BookView.js"></script>
  <script src="views/BookLaterView.js"></script>
  <script src="views/LoginView.js"></script>
  <script src="views/AddressControlView.js"></script>
  <script src="common/views/AddressSelectionView.js"></script>
  <script src="common/views/AddressListView.js"></script>
  <script src="views/FavoritesAndHistoryListView.js"></script>
  <script src="common/views/AddressItemView.js"></script>
  <script src="views/BookingConfirmationView.js"></script>
  <script src="views/BookingStatusView.js"></script>
  <script src="views/MapView.js"></script>
  <script src="views/SignupView.js"></script>
  <script src="views/UserAccountView.js"></script>
  <script src="views/ProfileView.js"></script>
  <script src="views/UpdatePasswordView.js"></script>
  <script src="views/ResetPasswordView.js"></script>
  <script src="views/OrderHistoryView.js"></script>
  <script src="views/OrderHistoryDetailView.js"></script>
  <script src="views/OrderItemView.js"></script>
  <script src="common/views/BootstrapConfirmationView.js"></script>
  <script src="views/FavoriteDetailsView.js"></script>
  <script src="common/views/AddFavoriteView.js"></script>
  <script src="views/FavoritesView.js"></script>
  <!-- services -->
  <script src="services/AuthService.js"></script>
  <script src="services/OrderService.js"></script>
  <script src="services/GeocodingService.js"></script>
  <script src="services/GeolocationService.js"></script>
  <script src="services/PlacesService.js"></script>
  <script src="services/DirectionInfoService.js"></script>

  <script src="routers/App.js"></script>
</scripts>