@using CustomerPortal.Web.HtmlHelpers
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        @Html.MenuItem("Deploy", "Index", "Deployment", null)
        @Html.MenuItem("Revisions", "Index", "Revision", null)
    </ul>
</div>