.brand {
    background: url(../img/logo.png) no-repeat;
}

.spinner {
    color: #fff;
}

.spinner-address {
    color: #000;
}

[class^="icon-"], [class*="icon-"] {
    background-image: url("../../../assets/bootstrap/img/glyphicons-halflings-white.png");
}
