.brand {
    background: url(../img/logo.png) no-repeat;
}

.no-cssgradients header {
    background-image: url(../img/header-bg.png);
}

.table-title {
	border-bottom: 2px solid #00539C;
	padding-left: 8px;
    margin-top: -5px;
}

.spinner {
    color: #fff;
}

.spinner-address {
    color: #000;
}

.salut:hover{
background:url(../img/small-arrow.png)  center right no-repeat;
}

.normal-nocolor{
	color:black;
	}