<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="apcurium.Tools.Localization.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <applicationSettings>
    <apcurium.Tools.Localization.Settings>
      <setting name="LocalizedFiles" serializeAs="Xml">
        <value>
          <ArrayOfResourceFileConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <ResourceFileConfig>
              <Path>../../../../</Path>
              <Type>iOS</Type>
            </ResourceFileConfig>
            <ResourceFileConfig>
              <Path>../../../../</Path>
              <Type>Android</Type>
            </ResourceFileConfig>
          </ArrayOfResourceFileConfig>
        </value>
      </setting>
    </apcurium.Tools.Localization.Settings>
  </applicationSettings>
</configuration>