<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add name="DbContext.EventStore" connectionString="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DbContext.MessageLog" connectionString="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DbContext.BlobStorage" connectionString="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DbContext.Booking" connectionString="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DbContext.SqlBus" connectionString="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DbContext.Configuration" connectionString="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="api">
    <system.web>
      <httpHandlers>
        <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
      </httpHandlers>
    </system.web>
    <!-- Required for IIS 7.0 -->
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
      <validation validateIntegratedModeConfiguration="false" />
      <handlers>
        <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      </handlers>
    </system.webServer>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True; MultipleActiveResultSets=True" />        
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>			
				<add name="log4netlistener"
					type="apcurium.MK.Booking.Logging.Log4netTraceListener, apcurium.MK.Booking"  />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>