<?xml version="1.0" encoding="utf-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>CFBundleDisplayName</key><string>TaxiHail</string><key>CFBundleIconFiles</key><array><string>app.png</string><string>app@2x.png</string></array><key>CFBundleIdentifier</key><string>com.apcurium.MK.TaxiHailDemo</string><key>CFBundleURLTypes</key><array><dict><key>CFBundleURLName</key><string>facebook</string><key>CFBundleURLSchemes</key><array><string>fb134284363380764</string><string>taxihail</string></array></dict></array><key>CFBundleVersion</key><string>1.1.31</string><key>MinimumOSVersion</key><string>3.0</string><key>NSMainNibFile</key><string>MainWindow</string><key>UIDeviceFamily</key><array><integer>1</integer></array><key>UIPrerenderedIcon</key><true /><key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array></dict></plist>