ul.locations {

    li {
        border-top: 1px solid #b2b2b2;

        &:first-child {
            border-top: none;
        }

        a {

            display: block;
            padding: 2px 33px 2px 12px;

            &:link {
                text-decoration: none;
            }

            &:hover {
                background-color: #EBF0F5;
                background: #EBF0F5 url(../img/small-arrow-with-padding.png) center right no-repeat;
            }
        }

        .location-title {
            display:block;
            font-weight: bold;
            color: @black;
        }

        .location-value {
            display:block;
            color: @black;
        }
    }

}