@map-z-index: 10;
@container-z-index: @map-z-index * 10;
@login-status-z-index: @map-z-index * 100;
@header-height: 63px;

html, body {
    height: 100%
}

.map-zone {
	height: 100%;
    width:100%;

    z-index: @map-z-index;

    position: absolute;
    top:0;
    
    img {
        max-width: none;
    }
}

.container {
    position:relative;
    top:101px;
    z-index: @container-z-index;
}

header {
    position: absolute;
    height: @header-height;
    width: 100%;
    z-index: @login-status-z-index;

    .login-status-zone {
        .span(6);
        margin: 0 auto;
    }
}

/* form validation */
.valid-input {
   margin-left: 5px;
}


/* Address selector */

.address-picker {
    position: relative;
}

.address-selector-container {
    position:absolute;
    background: lightBlue;
}

/* z-index helpers */

.raise10 {
    z-index: 10;
}
.raise100 {
    z-index: 10;
}
.lower10 {
    z-index: -10;
}
.lower100 {
    z-index: -100;
}

// Gradients
#gradient {
.vertical-no-filter(@startColor: #555, @endColor: #333) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(to bottom, @startColor, @endColor); // Standard, IE10
    background-repeat: repeat-x;
  }
}
