.table {
    
    tr:first-child {
        td {
            border-top: none;
        }
    }
}

.table1
{
	border:none;
	border-spacing:0px;
}


.table1	th
{
	padding:5px;
}

.table1	td
{
	vertical-align:central;
	text-align:center;
	padding:5px;
}

.table1 tbody tr:nth-child(odd)
{
	background: rgba(238, 238, 238, 1);
}

.table1 tbody tr:nth-child(even)
{
	background: rgba(200, 200, 200, 1);
}