// REPEAT MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "../bootstrap/less/mixins.less";


// RESPONSIVE CLASSES
// ------------------

@import "../bootstrap/less/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Phones to portrait tablets and narrow desktops
@import "../bootstrap/less/responsive-767px-max.less";



@media (max-width: 767px) {

    body {
        padding-left:0;
        padding-right:0;
    }

    header .login-status-zone {
        width:100%;
        .box-sizing(border-box);
        padding-left: 20px;
        padding-right: 20px;

        .login-status {
            margin-top: 14px;
        }

        ul {
            >li {
                display: list-item;
            }
        }

    }

    .container {
        padding-left:20px;
        padding-right:20px;
    }

    .book-view {
        .pull-right {
            float:none;
        }
    }

    .address-picker {
        .add-on {
            display:none;
        }

        input.address {
            width: 100%;
            .box-sizing(border-box);
        }

        .address-selector-container {
            width:100%;
            .box-sizing(border-box);
            left:0;
        }
    }

  /*.map-zone {
        height: 320px;
    }

    .container {
        position: static;
        height:218px;
    }*/

}

@media (max-width: 480px) {

    .btn-pin {
        display:none;
    }

    .map-zone {
        display:none;
    }

}