legend {
    font-size: 18px;
    color: @textColor;
    font-weight:bold;
    border: none;
    line-height: @baseLineHeight;
    margin-bottom:5px;
}

label {
    color: @textColor;
    font-weight:bold;
    padding-top:0;

    &.lbl-large {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.form-horizontal {

    label {
        color: @black;
    }

    .hidden {
        display:none;
    }

    .control-group {
        margin-bottom:10px;
		
    }

    .left-control-group {
            width: 38%;
            float: left;
        }

    .right-control-group {
        width: 100%-38%;
        float: left;
        .box-sizing(border-box);
        padding-left: 20px;
    }

    .left-half-control-group {
        width: 55%;
        float: left;
    }

    .right-half-control-group {
        width: 40%;
        float: right;
        padding-left: 5px;
    }

    .half-control-group {

        float: left;
        margin-right:28px;
        .control-label {
            width: 90px;
        }

        .controls {
            margin-left:90px;
        }

        &+.half-control-group {
            margin-right: 0;
        }
		

    }

      .settingsBox
      {
        width:250px;
        margin-right:15px;
      }

      .smallSettingsBox
      {
        width:131px;
        margin-right:15px;
      }

      .settingsLabel
      {
      margin-right:150px;
      white-space:nowrap;
      }


    .control-label {
        text-align: left;
        line-height: 20px;
        width:120px;
    }  

    .center-control-label {
        color: black;
        margin-right: 10px;
        margin-left: 10px;
        line-height: 20px;
        width: 120px;
        font-weight: bold;
    }

    .control-label-wide {
        text-align: left;
        line-height: 20px;
		float: left;
		padding-top: 5px;
		text-align: right;
    }

	.label-account-item
	{
		font-weight:bold;
        text-align: left;
        line-height: 20px;
		float: left;
		padding-top: 5px;
		text-align: right;
	}

	.label-account-item-normalcolor
	{
		color:rgb(115, 115, 115);
	}

	.label-account-item-orangecolor
	{
		color:rgb(234, 140, 73);
	}

	.label-account-linkitem-disabled
	{
		color:rgb(85, 85, 85);
		text-decoration:none;
	}

    .no-label {
        .controls {
            margin-left:0;
        }        
    }


    .controls {

        margin-left: 120px;

        label {
            line-height: 20px;
			color:@textColor;
			font-weight: bold;
			padding-top:5px;
			margin-bottom:0px;
            &.error {
                color: #B94A48;
            }

        }
    }   
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
{
  border: 1px solid @inputBorder;
  .box-shadow(inset 0 0 3px #8F8F8F);
  color:@black;
  font-size:14px;
}



.input-prepend,
.input-append {
    .add-on {
        border: 1px solid @inputBorder;
        background: @taxiHailAccentColor;
        .box-shadow(none);
        border-color: @addOnBorderColor;
        color: @addOnTextColor;
    }
    
    input {
        border-right-color: @addOnBorderColor
    }
}

// Success
.control-group.success {
  input,
  select,
  textarea {
    background: @white url(../img/green-dot-with-padding.png) center right no-repeat;
  }
}

.btn-right-alignment{
			float:right;
			}


.div-account-block
{
	width:100%;
	display:block;
	float:left;
	margin-top:1px;
	margin-bottom:1px;

	.left-column
	{
		width:30%;
		display:block;
		float:left;
	}

	.right-column
	{
		width:70%;
		display:block;
		float:right;
	}
}

.div-account-panelheader
{
	font-size:20px;
	font-weight:bold;
	letter-spacing:1px;
	color:black;
	margin:10px 0px 10px 10px;
}