<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="apcurium.MK.Booking.ConfigTool.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="apcurium.MK.Booking.ConfigTool.Console.ToolSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <apcurium.MK.Booking.ConfigTool.ToolSettings>
            <setting name="RootDirectory" serializeAs="String">
                <value>..\..\..\..\..\</value>
            </setting>
        </apcurium.MK.Booking.ConfigTool.ToolSettings>
        <apcurium.MK.Booking.ConfigTool.Console.ToolSettings>
            <setting name="ConfigDirectory" serializeAs="String">
                <value>..\..\..\..\..\..\Config</value>
            </setting>
        </apcurium.MK.Booking.ConfigTool.Console.ToolSettings>
    </applicationSettings>
</configuration>