<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DbContext.EventStore" connectionString="Data Source=.;Initial Catalog=MKWebStaging;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="DbContext.MessageLog" connectionString="Data Source=.;Initial Catalog=MKWebStaging;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="DbContext.BlobStorage" connectionString="Data Source=.;Initial Catalog=MKWebStaging;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add name="DbContext.Booking" connectionString="Data Source=.;Initial Catalog=MKWebStaging;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DbContext.SqlBus" connectionString="Data Source=.;Initial Catalog=MKWebStaging;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DbContext.Configuration" connectionString="Data Source=.;Initial Catalog=MKWebStaging;Integrated Security=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>
</configuration>