<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ ApplicationName }} - Email address confirmation successful</title>
    </head>
	 <body style="font-family:Calibri,Helvetica, sans-serif; color:#686868">
	   <table width="598px" cellpadding="0" cellspacing="0" style="margin-right:auto;margin-left:auto;border-right:1px solid #0057a3;border-left:1px solid #0057a3;width:598px;" id="backgroundTable">       
			<tr>
				<td colspan="2"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlYAAACICAYAAAAlDqVpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAAHPNJREFUeNrs3Ql4VOW9x/H/ZEJ2loQEwiLchE0REIxFrYBSQRGqz/Vq
sErtAhWuvbbcem8lvfZ2uVaFLj5a79WCG5WK1Slaxe2BuBThYdGIEguCNEEkEgNZyL7NzJ33JENm
OWcyM5nMkvl+nud9QmZOzkzOmTC/ed/3/F+TXHanXQAAANBniSImjgIAAEBIghW5CgAAICQSOAQA
AAChwVAgAABAiNBjBQAAECKJYqLHCgAAIBTosQIAAAgR5lgBAACELFgxFAgAABASDAUCAACECEOB
AAAAIQtWDAUCAACEBEOBAAAAIUKPFQAAQMiCFXOsAAAAQoKhQAAAgBCJqaHApESzzJk+XubOGC9j
sofIzImjxJxAjxv0fXi0UiprGuTd0s9kp6M1trRzUAAA/RysonwocHr+SJkzbbwsuWSy1gB/XThp
tNv3f/vomLy485AWskqOfMEBAgCEnEm+9jN7VAaqvJHynUUz5c4bv8pZQsht2v6RPPrye7L74Occ
DABAKIPVz6MuWN1546Xyu9uv5uyg3619dqf85PFiDgQAIETB6sroCVZ5uZnyyOolsugrEzkzCJvS
8i/l9gdflV1/P87BAAD0NVj9IiqC1bIrp8ujq78ug9OSOCuIiNse2CqPv/YBBwIAELSouCpQhao/
FV3v17alh8vlxW07peLL0/LhoaNitdo4i9A187wJkpuTJUvmXyKXzpra6/aP3XmtmM0Jsv6VEg4e
ACAoJlnwPxHtscrLHSYfrV/ls6eqvaNTHn3mZXlg02tyvF7FwWSR5MGcPRhraxSxtos0nxZpPaMF
rBWF18iPb7tJhg5O9/mj31z7V3nmzVKOIQAgiGC18J6IBqs37rtZrr5oguH9f3ljh/zHwy/J8VbH
m2FiCmcMgVMBq/4LkbrPJGtIqvzqR8vl9mXXGW7e0NIuF6zaIOWVdRw7AECgwepXEQtWP/vmXPnl
t+bpvxdabfL9+56UDe8cJ1AhNGwdItVljpB1Qhse/PNDP5WMtFTdTTduOyDf/e1WjhkAIMBgddW9
EQlWs6eMlr2//45hqCq8+3F5cf9pzhBCTw0PfvmxFEydIG9u+q3h0OBVP3lWtn9QzvECAPgtYpPX
b7/2QsP77np0K6EK/SctW2T0hVJycL986z/XyguP/FKbtO5J9ahu33+M4wUA8JtZJi74RdeyNuFr
c84/R35/+0LdJ7Txld1StGkfZwb9/JEiWSQpQw6XljheknaZf8lMr03GjRgi7x+plE8raiXcfyM0
Go1Gi80WkR6rG+eeq3t7Y3Or3PX0Xt70ER7p2SJZebL2D8/Krf+8UCaOH+O1yXeumiGvvlfGsQIA
+Pe5PRKLMF93ySTd239j2S2nzjRzVhA+w8ZLe0Ol/PyhP8ozD/yX94eAOVNkaHqKnGlq41gBAPwI
VmHusRqXM0Tycod63d7S1iEPvUTVa4SZKUEkK182v/ym/HL1t3V7reZMGyuv7qPXCgDQu4Twz68a
q/tEXt59hF4BREbGSJFBafLcq+/o3j1n6lhh3gCNRqPR/JxjFd73sLnT9IPV30o/5w0eEQ1Xb+zY
J3d/f5n+a9bEIQIA+NVjFV6zp+Tq3r7v8BecDUROWpZ8ePAfunfNzB/B8QEA+CXsk9fzRg7Vvb28
8gxnA5GTNFgam1uk8lSNtq6gq/SUQTIqK0NO1jRxnAAAPoW9x2poerLu7WeaWjkbiOBfglnEnKSF
Kz0ZKUkcIwBAr8LeY2W12iUh0fsxzQkJYrVZI3ow1iy9tN8fw/LuISk7WRf0c6ptbJUNr+0P6rEL
JuXKgll5Iduf0T6L95dLyaeVZ79X96vtQvWY/ReuEiVp0CDdu9o7bcJEKwBA78EqzO8VLe2dMijR
+9N/anKi480rssFq7Yr5/f4YJYc/9ztYrVw8S/c5WXYc0sJJwI99sFzWfnuOLPjKZLfb1fNRYShQ
mRkp8vzd10v+qMyeUPXeEVn3zFsig3oWNy7Iz3T7PYrfPxKdwcpuM1w38ExzG7kKAND7Z/RwP2BN
g34gyBqcGh9H3Nrh96aFl03QD1zXXBDcYzvCzqp7n5Laeve5Qut/eLUWkgIOosuvcAtVar9Li/7X
LVTp/s62zug8N47n5TNYAQDQe7AKb32HmkajYJXC2XCRP2qYLLhosn6wWjwz6P2WNSbLuqe2uj/W
6KyAw1rhvPNk5RL3hbRX3fOE1CbkxOwxN5r/V9/cLnY7tVloNBqN5k8dK3qszjJd8A2/tluz/DpZ
u/qWs98X7ymVhavu9e9BMvNEkgf3utnKRTPcvlePseCS6d1BaLg2bymY4Ts1QXvd83tkwcXnn92f
1vv0vSul+MPP3OZGGf4KGSmy/oeL3G6zbNsjln0nRFKGxWaq8tVbReFaAICfwr6kjdFagDlD0yJ/
NHJn+LddkkcwUleU+fuzfnLtDSo5WCZFj/xV3ncJQmqYMKhgpWSMkKV3Pyb/ePF+yRzSEyZUWLro
Bxt7/fH1qxdJpksQVkOAq379nCNUxW5vlQpWOVn6ofBUfYtEYrFyAEDsCfscq1Nn9C9nzxmWxtlw
hqZ55zmCS8/xsLxZIiUn2qXsRFXPNldMC2pe1NkwlJCjDd25Kpg8utcrI9VzK5w31e02bQjQlBXb
B93a7ghWQwP6MAAAgE6wCu/YY2Wt/ptUbmYGZ8MZXjwmrW94db82IdxSvO/sbSp4Fc6d0oczb9aG
7tQQnqs1Sy/W5nfp0RsC3PCXN7uGAFWvXUwHqw6vwqBOXa9Z5g3QaDQarfcW9h6rytomg2CVTqKS
rknrhVf0DCuq4FNr7Rp22/BKidu2QV8d6JQyTBvCc71KUAU2z/Dk5DkEqHrQita/Hrvzqjx6rIyD
FRXXAQD+9liFOcxV1DTqPpEx2YM5G6q3ao77lYDFJUfP9gaV1dm1+VZOBVPGuhXeDIYawvMcElxw
Yb5WQ8vteekNAarSDTJ0YBx4FayyDYJVXTMfwmg0Go3mV6PHKsq4BhrVk+RWSNOcpM23ctt+UR8n
zRsMCaoaVc45XHpDgOuefFmKD9XF/hCgU2ebjMnN1r2rorqRFyYAwM8eqzBHuVP1+uUWcoYRrFQJ
BVVKwcmyfa9I2nC3bSw7PnHvSbp8ap8msWu6hwRdJ8erIT819KfoDQGue26XX2UjYilYGU9eb+Ej
GI1Go9EkKudYnTpjEKyGpok5Ib4vafectG5552OvbcpqrW69S32exO7sHVNDgvc+5f585k3VlqLR
HQK0DbCLDWwdxkOBtVwVCACI0h6rTqtdvqzzfqNSoSoqallFiOp1WnntbLdeoeLSk94bmpO65l25
BqA5k0LwSjBrQ3tqiM+VZ/mFooc2D6whwLM9Vu1cFUij0Wi0EPRYhfsxE4znrMTzBHbPK/y00goG
Q22Wd92HA9XSN0YlEgLieDw1xOc6JOhKTZxf9/y+gTUE2C11kOhWXm9t75S65nb+r6DRaDRadE5e
VwhWOsHKY/0/z9IKrmo7krX6UW4/vyg0ld/VEJ/nkKDTqvs3aVXbBxy7Vcbl6vdWHT/VQL82AMD/
AaBIxLmKav0rA8cMj89gpUomuE5aVz1DqrSC8Vkzey1n47kgcvCvCLMUzNKvj7Vg3qUD8wSoKwJH
+rgi0MRHMBqNRqNF6eR1X70A40YMlXjk2duklVQwJ/n8GcvOI16FPT1rTwUb8tau1C8QuuYbc/pc
Nytag9W40SMMXquUWgAARHuPVY1Bj1UcDgWqSeuqZIIrbQmb3qQM6yrH4NqjNGN0n5+PUdV1Z3jz
dX/sBqtWJq7TaDQaLSQtUSJQ4cAwWA2Pv/UCVakE1wWXlZo37gtuX/MvkPw/7pKyk3VB/by6AlAt
xOykesTUVYDr//u2nh6t7oWa1z2/e+CcBGu7jBtl0GN1ukEi8TcCAIjZHqtwMzF53UWf1/vzDFce
S+L4SxUnVTWrXK17aqts2PaJVwkGtd2AGhLsaDWuul7DOoEAgICCVfi7yYzmrYzLia85VqpEglrv
L6RBLYh5Vl1L1lztdlvxnlJZ9/werfK7XgmGATUkaPU1eb2p+/MH3ds0Go1G82coMAKa2zqltrHN
8Yae7HZ7anKiZA1OlZqGlvjorfKYtK7CTPHe0oD3s3b1LT1hbfRwbcFky45Dfv/8mqWXOH6uZ46R
GgJctXbz2dIKzhIM2x9dc3YbNSSoeq6Knng79k+Ez8nrlFsAAPgvsetS8vB3lKnhQM9gpajhwLgJ
Vh4lEooe+auU/KM64P0UnJcvhVddcvZ7tTSOv8FKDQGuuemrbrepIcCyRse5cRZXd6nKvmb5dS6B
7FIp/uCYV+mHWJNk6pScLO8Cqx1Wm1SptS1NCfxPAQDwM+FEiDYpWMe4nCHxEaoWz3KbtK5qV5Wc
aO/qJQqweS1xc8UMvxZm9jkE6Fnuobsqu2uJB0X9fJ8XgY4ku80R5vVfc11zAZm5DgCI9mBlMl7Y
NjcrPS4OvNeCy6p21aDUoPallrjxDDz+TIrvbQjQkzYkeM8Tbrepn1f7iVmqOGiur/lVAABEe7CS
+C4Sqiatq/X9XPlVu8qAWuLGs6aV5xI5nnwOARq+Wsxi2XdCLNv2uAc0x37UvK6YZFXzq0Yav0bp
sAIABBasIjNrvqJav8cqHpa18SyJoIJKrTW1D2fRLMUflLmHt9HDtfCkJ6AhQE8pw2TVr5/TGRJc
FJtDgp29XRHIFS40Go1Gi/IlbbTegNMGJRdGDPw5Vp4lESzvHNDCUV+oJW48SyJ4DjeeDUGrFwU0
BOjVQ2bK8hoSzBycqu039oJVq3GwqmE5GwBAoD1W6qrAsLcEqTCYYzXQi4SqITPXBZdVqLHsOtr3
Haslbor3uQe4a2d79SKpxy+c576EjgpJPocAdXrI9IYE1X5jbkjQV6mF000Smb8PGo1Go8Vqi1iP
ldHE4IE+FOg1aV3NjUoZFpJ9W3Yc9H68uVM8hgAXeQ1DqpDU6xCgTpAr+sPW2B8S9DUUWNPMRy8A
QIA9VhFS19Qm9c3tXrcPTU/W2kCkLbh8hXtR0A1b94Vs/yXHGrSyDW69Vi5XB6qhOjVk59pbpuZL
BRvsyuoHaRPe3X5Hx/6fv/v6GApWrb1cFcjsdQCA/0xy/Xp7RB7ZbpfD/3eTTB7t/aZ+7or1cvhE
dfQetcYqR6vs+T4pQyQrv/efs1lFqv7uftvwSUGXWdBV/alIh0uBVbVv9Rhamv1MpPWMy9k3i+Sc
27f5XZ7HQu94BHu8wsB8Yre0HXhJzGbvzxiDbtwgnTb+kwAA+C8xkh/I1ZqBesFKTWCP6mDlLM4Z
KBVgcmf073Nzhig9w8ZH5lgEe7zCEO7V0LNeqPr8dKMjVNklMisTAABiVeTW6jCpOSwG86yyB3Nm
0P+0xZeH695FcVAAQDASIzmHRPVY6YmXZW0QYT4nrndfEcgcKwBAACK6uiw9Voh4sMrNDui1CQBA
FAer+KxlhSjR23I2AAAEKDGSk3MNq68zFIhw6GztvTgoQ4EAgABEsMfK5GNZm6GcGfS/DkewGuUj
WAEAEKDESD54XVO7ViR0SJp71W9nkdAzTW1hf05rll5qeN+653cHtK/8UcOkcK7+Ei+1ja2y4bX9
QT/Pgkm5hossB/Nc+/L7h/KYhZXPHqtGobcKABBEsIrkm0eC9gY2bVyW1z2q16q0vCrsz2jtivmh
C1YjMgz3V/z+kT4FqzWFs6Xw8mmG9xfvL5eSTyvD8vuH8piFU5KpU3JzvF97HVabnKxt0da0BAAg
sGQTYQO65IK1w/g+W2fQu9WWxvERqpTCyybx6vbFbpNxIzMDek0CABDdwcrkYwL7CCawG3Fd/89w
m68XcKB86WwzHgbUrghkGBAAELjESL9/MIE9iGC1eGav22QOTpPCeeeJZcchDphusPIxv0pVXWcU
EAAQVLCKcLIyuvqKHit9atJ6/ujhfm1beNkEglUwweqUc+I6vVYAgMBEfo6VUbCilpWulYv8X8S5
8IoZ2nwsGAUrg+Kgp5ljBQCI2WDFUGAgCi+fGlgQ82M+VtwGK6MaVqeoYQUACDpYOYc8ItESpKKm
RfeJqWVtzAkMxbiFpMWztLlTeor3lOoHsbmTOXB6OnzNsWqWyP5d0Gg0Gi1WW8R7rDqtNvlcp9dK
hSrWDHS3YMZo3dst2/aI5S39mlgFU87R5mXB84XXRnFQAEDIJUb+/aNraZtzsjO87lHDgcer6jlL
0l3Ffb7+sF5xyVGx7Dwia+ubJHNIunev1WWTgioWOpDlDEmW1JRkr9tP17dKc3snxUEBAEFJiIZu
Myaw965wjv6QXq0jTKkK7rUdyWLZvld3G2paebC2y7hR2bp3dfVWJQjd2TQajUYLpiVG/E0uhoqE
+loTT7eXaUR6yB5bza/So4WptK7yC8UflMnKG77mtQ01rTz0ukYgAADBSYyGJ2F0FVa0XRnoa028
/qQWWzaqXWV55+Oef+88ovVg6Q8HUtOqJ1ip+VXnGASrJqZXAQCCFhUTSSgS6psKRXrKTlRJcenJ
nhtShhkOB1LTyjVYUcMKANBvwSoK5lhVM8fKiLbg8hX6Cy5biveJJLtfOamGA41Q08o1WBnVsKLU
Ao1Go9FiuNyC86pA/R4rioQWzp1iWLvKsuOg923dw4H6+6KmlabDR3HQanqsAAB96bGKgoBX19wh
9S3tXk9uaHqy1uI6WM2ZpHt7ycEyKTnW4H1HyjDZsOUt3Z+hppUfPVbVTXzgotFoNFrQLTFa3uvU
BPZp45J0e61Ky6ui4jkuXHVvQNsXTM2TtatvCfrxVO2qBRfp9zJZ3iwRGZSqf9+7h2TNd6/VD2rU
tJIkU6fk5mR5d2RZbXKytoUaVgCAoCVGxyVQCdpw4LRxmd7BKmdI1ASr4sMBDhOl1vXp8XwtuFzb
YteuFtRlbTO8OlDVtCra+G78vuLtNhk3MtMg3De6fOwAACCoYBUFTDFyZWBygEvsmPs2jFk471zD
+9bftTSofcZ9TStVamGMUQ2rJkIVAKBPombMwzhYxecEdhV+8kdn98++Dco3xEew6qU4KLkKADCw
g1V8llwwWnA5JMEqnmta+QxWTfyPAAAYIMHK4DL3eKxlpULPymsv7tfHiNuaVhQHBQD0o0QxRcfY
x/HqZv1gFYdDgap2Vf8/xmRZZ9kbn8HKsIaV4zVoYvI6AKAvwSoqmKSiRj9YjckeLOYEk1ht9rg5
Kb56k7LmrjAsAKrn/Wfvk4Kp+V63O2taxV3phY5ealgBABD7wUqk02qXzx1vbOcMdy8RoEKVClfH
q+rj4oSosFMwZazufZZte6Q25Z9E0sx+70/Vu9ILVko4alptX3tz0D9r2fGJbHhtf4hfaG29zLGi
twoAMACClba0zalGr2ClqOHAeAlWKuwYBo13DogkmAPanwona3+gf184aloZ1tryQ/HegyF/PjlD
kiU1xbsMxumGVmlus1IcFADQJwnRVAe+/JT+5OG8kfEzz0qFHT1q+M+y62jA+yurtWrL3+hx1rSK
WnZbaPdnbZe8sfq9VeVfNnb9ObAeA41Go9FiexHmsx1W8uGxGt27Zk4YGR+9VY6QY7jg8va92jqA
ATMndS1/Y9hDFkc1rTpbZfpk/R600uO1fMwCAISixyp6xH2w8hFyLO98HPR+1XCg4WPGU02rtkYp
mKa/9mJJeTXTqwAAAytYlZTpB6uCSaO0SewDmQo3KuToKTtRJcWlJ4Pet6/hQCVualq1NcjsC/SX
Cdp39DT/GwAA+swkN22KkjoGdm1OzYHfXCfTdRZjvnLNZnnrw2P9/zQqDxjflzsj4DdyqS3Xvy8p
QyTL5Wo9m1Wk6u/625qTRHLO7dvvVf2pSEeL/n0ZuY42Ivjf39fP9IXr8wqB3NZP5cRbT4jZ7P15
YtDNT0unnRpWAIC+iaqrApWdn3ypG6xuvXJaeIJVoOHJF7Vos7/7U1f7hfKxPQ2f1H+/f38+71Cx
tstNC7+iG6p2H6mSTlUnzUSoAgD0Nc1840/9/yh//qbhXXZ7T4eZyWQynzp1akl2dvZLntudaWqT
scselsaWds4aAmZuqJADT98lUyeO97qvpaXlwbS0tB+r+CVa16kfwvF3AwCIWvZnl+neHm1Fe+yP
P/74uzabrcrzjqHpyXL3zZdxJhHEq8out86frBuqlKqqKkt3oLJzsAAAfaHmWPX/ozx3q4/3PLce
KzUWM6ipqemRtLS0FZ7bqt6qc7+3XipON3Dm4LeMzhr5ZHORjBmZ7XVfW1vb6ykpKf/i+KfqCvW/
cFY4/m4AANH7md1gNC4qy0yfPHlyi+4bZGqSPP6jJQP+CkGEkM0qv1u1QDdUKRUVFU90Byp6qwAA
fRaNwco2ceLEHfX19Rv17lx0Ub7cv3w+Zw5+WXn5WFm5dJHufa2trTsnTJiwjVAFABjIwUoLVx99
9NFGozt/XHiJFN10KWcPPt140Qh5eI3xMPShQ4d+I/RWAQAGarCyd024Um90tnnz5n1YXl7+U6Nt
Va/Vw/92FcOC0FV0/Qyx3Ps9SRqkX1GksrLy4QsvvFCtQO3/lYAAAMRSsHLmq+5mzc/Pf6y6uvoF
ow3vuO4iObD+NlkyeyJnEprZU0bL3gdukfv/9euG2zQ0NOwdNWrUfY5/dkpPjxXhCgDQZ4lR+rxs
3T0JndnZ2f/e2Nh4Xnp6+nl6G04dly2v3LNUdh+qkL+8+4mjHZLjVfWc2TiSMzRNllw8UW6aO1kW
zZ7s+4Vls7Vu3LhxjeOfHd2vMYYCAQAhE1XlFrQn1FVyQfWkmR0t2dHSrrnmmtEvvPDCqykpKaP8
ebjDJ6qlsaVDjn5RoxUWxcCTlGiW6XkjHF9Njq/+L9K9b9++oosvvvhpxz+bHa1V3Hut/Ee5BQCI
a0blFqKux0rNs3JkK5t0rXGjehQ6Xn/99VOLFy++fsuWLY9lZmZO720fU8YO174WTMrlzEPT0tJS
+eSTT66+44479khXzargAhUAAD4kRPFzs3e/+akhm7a33367Kisr61sff/zxnzltCMSxY8feWrhw
4VJHqCqRrl4qZ7CyC/OrAABxEqxs3a2j+41QvSE2TZ8+/bePPfZYUV1d3WecPvjS0tJSt3nz5nvy
8vKKdu3a9aW6Sdx7q2wcJQDAgA9W9p6JV67hSgtWjtawcuXK4szMzO8+9dRTv6uoqPiE0whXp0+f
Pr5ly5Y/LFmyZMWyZcu2Om6q737ttIr3pHV6qwAAIZMY5c/P3v0mqJhcmlbvavny5S87vr61YsWK
qfPnz79g1qxZ0/Py8iakpqZmcGrjR1tbW+vx48ePHjhw4ODOnTsPPPjggx85bm5UIbz7qzNU0VsF
AOhXUXdVoNuT67pCUDF3NxUEk7tbqqOlO1qay9cU1W644YbxmZmZaeeff37ukCFD0mw2WwKneuBI
SEiwdXR0dL733nuft7e3t27atKlc5SvpGupr7m5N3V9bpGcI0K23qvtCieCeBFcFAkBci5mrAj1C
l707XDl7F1yHCK3dvQ9n5185Q9eWLVtqun83ZyBz9nSJy1fE2GvY5avdJSB1SM88vLbu10KLy7/b
pKenyi1UcUgBAKEW7UOB4tKr4BwS7JCeoRyr9My/Supug7qba6hK8AhVhKvYDFWuwcr5GuiUnqtH
2z2aM3S5Dv8RqgAA8RusXMKVs66V3aPXwtlrldjdXENVgkGwQmyHLJtBuHINWc4eKqvLdkKoAgDE
fbDyCFc2j2Dl7LVyDVPOr85g5RmoCFixF6Y8v3cNVjaPEGX1uM9OqAIAEKx0wpWWinqGBp1By+QR
pFwDlYkgNSCDlt0jYNk9gpSdQAUAIFgFHrBcJ7TrTVInVA38gOUZtoRABQAgWAUZsFzeWF1LNCCe
EhYhCgBAsOINFgAADBz/L8AAhbHnndxO9CgAAAAASUVORK5CYII=" /></td>
			</tr>
			<tr>
				<td colspan="2">
					<h1 style="color:#0057a3;padding-left:45px;padding-right:20px;width:530px;">Welcome to {{ ApplicationName }}</h1>
				</td>
			</tr>
		  <tr>
				<td colspan="2">
                    <div style="padding-left:45px;padding-right:20px;width:530px;">
				          <p>Your email address has been confirmed successfully.</p>
				          <p>You can now sign into the application:</p>
				          <ul style="list-style:square;">
					        <li style="margin-bottom:10px">Web or mobile phone: <a href="{{ RootUrl }}">click here</a></li>                           
					        <li style="margin-bottom:10px">iPhone: launch the app (coming soon)</li>
					        <li style="margin-bottom:10px">Android: app launch the app (coming soon)</li>
				          </ul>
				          <br />
                     </div>
				</td>
		  </tr>
		  <tr style="background-color:#0057a3">
				<td colspan="2">&nbsp;</td>
		  </tr>
		</table>
	</body>    
</html>