<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ ApplicationName }} - Receipt</title>
  </head>
  <body style="font-family:Calibri,Helvetica, sans-serif; color:#686868">
   <table width="300" cellpadding="0" cellspacing="0" style="width:300px;border-right:1px solid {{ AccentColor }};border-left:1px solid {{ AccentColor }};" id="backgroundTable">       
		<tr style="background-color:{{ AccentColor }}">
				<td colspan="2">&nbsp;</td>
		</tr>
        <tr>
            <td colspan="2">
                <h1 style="width:300px;color:{{ AccentColor }};padding-left:45px;padding-right:20px;">{{ ApplicationName }}<br/>Receipt</h1>
            </td>
        </tr>
		<tr>
			<td colspan='2'>
				<table cellpadding="1" cellspacing="0" border="0" style="border:none;margin-left:45px;margin-right:20px;width:300px;">
					<tr>
						<td width=1><strong>Date</strong></td><td>{{Date}}</td>
					</tr>
					<tr>
						<td><strong>Order&nbsp;#&nbsp;&nbsp;</strong></td><td>{{IBSOrderId}}</td>
					</tr>
					<tr>
						<td><strong>Cab&nbsp;#</strong></td><td>{{VehicleNumber}}</td>
					</tr>
				    <tr>
				        <td><strong>Fare</strong></td><td>{{Fare}}</td>
				    </tr>
                    
  {{#VatEnabled}}
				    <tr id="vatRow" >
				        <td><strong>VAT</strong></td><td>{{VATAmount}} (#: {{VATRegistrationNumber}})</td>
				    </tr>
  {{/VatEnabled}}
					<tr>
						<td><strong>Toll</strong></td><td>{{Toll}}</td>
					</tr>
					<tr>
						<td><strong>Tip</strong></td><td>{{Tip}}</td>
					</tr>
				    <tr>
				        <td><strong>Total&nbsp;Fare</strong></td><td>{{TotalFare}}</td>
				    </tr>
				    {{#IsCardOnFile}}
                   <tr><td colspan="2">&nbsp;</td></tr>
				    <tr>
				        <td colspan="2"><strong>Payment Information</strong></td>
				    </tr>
                                        <tr><td colspan="2"></td></tr>
				    <tr><td  colspan="2"><strong>Payed With</strong> {{ CardNumber }}</td></tr>
                    
                    <tr><td colspan="2"><strong>Total Amount</strong> {{ CardOnFileAmount }}</td></tr>

                    <tr><td colspan="2"><strong>Transaction Id : </strong>{{ CardOnFileTransactionId }}</td></tr>

                    <tr><td colspan="2"><strong>Authorization number : </strong>{{ CardOnFileAuthorizationCode }}</td></tr>
{{/IsCardOnFile}}                    

				</table>
			</td>
		</tr>
      <tr>
            <td colspan="2">
              <p style="padding-left:45px;padding-right:20px;width:300px;">{{{Note}}}</p>
            </td>
      </tr>
      <tr style="background-color:{{ AccentColor }}">
            <td colspan="2">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>