@model IEnumerable<CustomerPortal.Web.Areas.Admin.Models.MarketModel>

<h2>Network Vehicles</h2>
<div class='row'>
    <div class='span12'>
        <p>
            <a class="btn" href='@Url.Action("CreateMarket")'>Create Market</a>
        </p>
    </div>
    <div class="span12">
        <table class="table table-striped">
            <tr>
                <th>Markets</th>
            </tr>
            @foreach (var market in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("VehicleIndex", market)">@market.Market</a>

                    </td>
                    <td>
                        <a class="btn btn-danger" href='@Url.Action("DeleteMarket", market)'>Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>