@model IEnumerable<CustomerPortal.Web.Entities.Network.NetworkVehicle>

<h2>Network Vehicles</h2>
<div class='row'>
    <div class='span12'>
        <p>
            <a class="btn" href='@Url.Action("CreateVehicle")'>Create Vehicle Type</a>
        </p>
    </div>
    <div class="span12">
        <table class="table table-striped">
            <tr>
                <th>Vehicle Types</th>
            </tr>
            @foreach (var vehicleType in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("EditVehicle", new { id = vehicleType.Id })">@vehicleType.Name</a>

                    </td>
                    <td>
                        <a class="btn btn-danger" href='@Url.Action("DeleteVehicle", new { id = vehicleType.Id })'>Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
