@model apcurium.MK.Web.Areas.AdminTH.Models.OrderDebug

<h4 class="table-title">Order Debug Info</h4>
@if (Model.OrderDetail == null)
{
    <div class="alert alert-error" style="margin-top: 10px;">
        Order cannot be found.
    </div>
}
else
{

}
