<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DeployFolder" value="C:\Data\"/>
    <add key="DropFolder" value="C:\Data\TaxiHailPackages\"/>
    <add key="SiteName" value="Default Web Site"/>
    <add key="AppPoolFormat" value="{0}"/>
    <add key="MirroringMirrorPartner" value=""/>
    <add key="MirroringSharedFolder" value=""/>
    <add key="MirroringWitness" value=""/>
    <add key="MirroringPrincipalPartner" value=""/>
    <add key="MirrorMasterConnectionString" value=""/>
    <add key="ToolSqlConnectionString" value="Data Source=.;Initial Catalog={0};Integrated Security=True; MultipleActiveResultSets=True"/>
    <add key="BackupFolder" value="\\ALEX_WPC\Shared"/>
    <add key="SiteSqlConnectionString" value="Data Source=.;Initial Catalog={0};Integrated Security=True; MultipleActiveResultSets=True"/>
    <add key="ReplicatedWebSitesFolder" value=""/>
    <add key="SqlConnectionStringAllLocal" value="Data Source=.;Initial Catalog={0};Integrated Security=True; MultipleActiveResultSets=True"/>
    <add key="SqlConnectionStringDbServer" value="Data Source=CL-T077-082CL;Failover Partner=CL-T078-073CN;Initial Catalog={0};Integrated Security=False;User ID=taxihaildbuser;Password=Mkc1234!;MultipleActiveResultSets=True"/>
    <add key="ReplicationSharedFolder" value=""/>
    <add key="SecondWebServerName" value=""/>
    <add key="BitBucketPath" value="hg.exe"/>
    <add key="GitPath" value="C:\Program Files (x86)\Git\cmd\git.exe"/>
    <add key="IsGitHubSourceControl" value="true"/>
    <add key="CustomerPortalUrl" value="http://customer.taxihail.com/api/"/>
    <add key="CustomerPortalUsername" value="taxihail@apcurium.com"/>
    <add key="CustomerPortalPassword" value="apcurium5200!"/>
    <add key="ServerName" value="Production"/>
    <add key="" value=""/>
    <add key="" value=""/>
    <add key="" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionStringMaster"
      connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True; MultipleActiveResultSets=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>