<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MK.DeploymentService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>
  
  <connectionStrings>
    <add name="MK.DeploymentService.Properties.Settings.SqlConnectionStringMaster"
      connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True; MultipleActiveResultSets=True" />
  </connectionStrings>
  <applicationSettings>
    <MK.DeploymentService.Properties.Settings>
      <setting name="DeployFolder" serializeAs="String">
        <value>C:\Data\</value>
      </setting>
      <setting name="DropFolder" serializeAs="String">
        <value>C:\Data\TaxiHailPackages\</value>
      </setting>
      <setting name="CustomerPortalUrl" serializeAs="String">
        <value>http://customer.taxihail.com/api/</value>
      </setting>
      <setting name="SiteName" serializeAs="String">
        <value>Default Web Site</value>
      </setting>
      <setting name="AppPoolFormat" serializeAs="String">
        <value>{0}</value>
      </setting>
      <setting name="MirroringMirrorPartner" serializeAs="String">
        <value />
      </setting>
      <setting name="MirroringSharedFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="MirroringWitness" serializeAs="String">
        <value />
      </setting>
      <setting name="MirroringPrincipalPartner" serializeAs="String">
        <value />
      </setting>
      <setting name="MirrorMasterConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>Production</value>
      </setting>
      <setting name="ToolSqlConnectionString" serializeAs="String">
        <value>Data Source=.;Initial Catalog={0};Integrated Security=True; MultipleActiveResultSets=True</value>
      </setting>
      <setting name="BackupFolder" serializeAs="String">
        <value>\\ALEX_WPC\Shared</value>
      </setting>
      <setting name="SiteSqlConnectionString" serializeAs="String">
        <value>Data Source=.;Initial Catalog={0};Integrated Security=True; MultipleActiveResultSets=True</value>
      </setting>
      <setting name="ReplicatedWebSitesFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlConnectionStringAllLocal" serializeAs="String">
        <value>Data Source=.;Initial Catalog={0};Integrated Security=True; MultipleActiveResultSets=True</value>
      </setting>
      <setting name="SqlConnectionStringDbServer" serializeAs="String">
        <value>Data Source=CL-T077-082CL;Failover Partner=CL-T078-073CN;Initial Catalog={0};Integrated Security=False;User ID=taxihaildbuser;Password=Mkc1234!;MultipleActiveResultSets=True</value>
      </setting>
      <setting name="ReplicationSharedFolder" serializeAs="String">
        <value />
      </setting>
    </MK.DeploymentService.Properties.Settings>
  </applicationSettings>
</configuration>