<?xml version="1.0"?>
<connectionStrings>
    <add name="MKWebDev" connectionString="Data Source=.;Initial Catalog=MKWebDev;Integrated Security=True; MultipleActiveResultSets=True"/>
    <add name="MKWebStaging" connectionString="Data Source=.;Initial Catalog=MKWebStaging;Integrated Security=True; MultipleActiveResultSets=True"/>
    <add name="MyCompany" connectionString="Data Source=.;Initial Catalog=MyCompany;Integrated Security=True; MultipleActiveResultSets=True"/>
</connectionStrings>
