<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DeployDir" value="/Users/apcurium/MobileAppsBinaries" />
    <add key="CheckoutDir" value="/Users/apcurium/CheckoutTaxiHail/" />
    <add key="CustomerPortalUrl" value="https://customer.taxihail.com/api/" />
    <add key="CustomerPortalUsername" value="taxihail@apcurium.com" />
    <add key="CustomerPortalPassword" value="apcurium5200!" />
    <add key="ServerName" value="MobileBuildServer" />
    <add key="IsGitHubSourceControl" value="true" />
    <add key="BitBucketPath" value="/usr/local/bin/hg" />
    <add key="GitPath" value="/usr/local/git/bin/git" />
  </appSettings>
  <startup>
  	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
