<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MKConfig" connectionString="User ID=sa;Password=apcurium5200!;Data Source=dev02;Initial Catalog=MKConfigurationManager;Integrated Security=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DeployDir" value="/Users/apcurium/Dropbox/WwwMobileApps"/>
  </appSettings>
</configuration>
