<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MKConfig" connectionString="User ID=sa;Password=apcurium5200!;Data Source=taxihail01;Initial Catalog=MKConfigurationManager;Integrated Security=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DeployDir" value="/Users/apcurium/Dropbox/WwwMobileApps"/>
    <add key="CustomerPortalUrl" value="http://customer.taxihail.com/api/"/>
    <add key="ServerName" value="MobileBuildAgent"/>

  </appSettings>
</configuration>
