@model List<KeyValuePair<string, string>>
    
<h3>
    Import Charge Accounts
</h3>

@if (Model.Any(x => x.Key == "new"))
{ 
    <div id="validationPanel" class="alert-success alert">
        <ul>
            @foreach (var line in Model.Where(x => x.Key =="new"))
            {
                <li>@line.Value</li>
            }
        </ul>
    </div>
}

@if (Model.Any(x => x.Key == "existing"))
{ 
    <div id="validationPanel" class="alert-danger alert">
        <ul>
            @foreach (var line in Model.Where(x => x.Key == "existing"))
            {
                <li>@line.Value</li>
            }
        </ul>
    </div>
}

@if (!Model.Any())
{
<h4>No account to import</h4><!-- TODO: Localize-->    
}

<a href="../../admin/#accounts" type="submit" class="btn btn-primary" method="post">Back</a><!-- TODO: Localize-->