<h4 class="table-title">{{localize "Add to Favorites"}}</h4>

<div class="errors" style="margin-top: 10px;"></div>

<form class="form-horizontal" >
    <div id="settingsContent">
        <div class="control-group">
            <label class="control-label">{{localize 'Full Address'}}</label>
            <div class="controls address-picker">
                <span style="float: right" class="valid-input hidden"><img src="assets/img/validFieldGreen.png" width="8" height="8" alt="valid field"/></span>
                <input type="text" id="inputFullAddress" name="fullAddress"  value="{{fullAddress}}" class='input-block-level'>
                <div class='address-selector-container raise100' ></div>
            </div>
        </div>
        
        <div class="control-group">
            <label class="control-label">{{localize 'Apartment'}}</label>
            <div class="controls">
                <input type="text" style="width: 35%;" id="inputApartment" data-action="changesettings" name="apartment" value="{{apartment}}" class='input-block-level'>
                <span class="center-control-label">{{localize 'Ring Code'}}</span>
                <input type="text" style="float:right;width: 35%; " data-action="changesettings" id="inputRingCode" name="ringCode"  value="{{ringCode}}" class='input-block-level'>
            </div>
        </div>
        

        <div class="control-group">
            <label class="control-label" >{{localize "Building Name"}}</label>
            <div class="controls">
                <span style="float: right" class="valid-input hidden"><img src="assets/img/validFieldGreen.png" width="8" height="8" alt="valid field"/></span>
                <input type="text" data-action="changesettings" name="buildingName" value="{{buildingName}}" class='input-block-level'>
            </div>
        </div>
        <h4 style="text-align: center">{{localize "Give it a name"}}</h4>
        <div class="control-group no-label">
            <div class="controls">
                <span style="float: right" class="valid-input hidden"><img src="assets/img/validFieldGreen.png" width="8" height="8" alt="valid field"/></span>
                <input type="text" id="inputFriendlyName" data-action="changesettings" name="friendlyName" value="{{friendlyName}}" class='input-block-level'>
            </div>
        </div>

        <div class="control-group">
            {{#unless isNew }}
                <a href='#' class='btn btn-danger pull-right span' data-action='destroy'>{{localize "Remove"}}</a>
            {{/unless}}
            <a href='#' class='btn pull-right span' data-action='cancel'>{{localize "Cancel"}}</a>
            <a href='#' id="saveBt" class='btn btn-primary pull-right span' data-action='save' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</a>                
        </div>
    </div>
</form>