<div class='control-group'>
    <div class="input-append pull-right">
        <input class="address span" type="text" name='address' value='{{fullAddress}}'>
        <a href='#' class="add-on btn disabled" disabled='disabled' data-action='refine'><b>#</b></a>
        {{#if options.locate }}
            <a href='#' class="add-on btn" data-action='locate'><i class='icon-locate' id="locateIcon"></i></a>
        {{/if}}
        {{#if options.clear }}
            <a href='#' class="add-on btn" data-action='clear'><i class='icon-clear'></i></a>
        {{/if}}
    </div>
    <button type='button' class="btn btn-pin btn-pin-{{options.pin}}" data-action='toggletarget' data-toggle="button"><i class='icon-pin'></i></button>
</div>
<div class='address-selector-container raise100'></div>

