<div class="row">
    <div class="span5" id="pickup-drop-off-container">
        <div class='well'>
            <form>
                <label>{{localize "Pickup location"}}</label>
                <div class='pickup-address-container'></div>
                <label>{{localize "Destination"}}</label>
                <div class='drop-off-address-container'></div>
                <a href='#' class='btn btn-primary' data-action='book'>{{localize "Confirm Booking"}}</a>
            </form>
        </div>
        

    </div>
    <div class='span12 hidden-right' id="address-list-container" ></div>
</div>
