<div class="row">
    <div class="span6">
        <div class='well clearfix'>
            <legend>{{localize "Pickup date and time"}}</legend>
            <div class='errors'>
            </div>
            <div class='control-group half-control-group'>
                <label class='control-label' for='book-later-date'>{{localize "Date"}}</label>
                <div class='controls'>
                    <div class="input-append date" data-role='datepicker' data-date="">
                        <input id='book-later-date' class="input-small" type="text">
                        <span class="add-on"><i class="icon-white icon-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class='control-group half-control-group'>
                <label class='control-label' for='book-later-time'>{{localize "Time"}}</label>
                <div class='controls'>
                    <div class="input-append bootstrap-timepicker-component">
                        <input id='book-later-time' type="text" data-role='timepicker' class="input-small">
                        <span class="add-on">
                            <i class="icon-white icon-time"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class='control-group' style='clear:both;'>
                <button type='submit' class='btn btn-primary pull-right' >{{localize "Set Time"}}</button>
            </div>
        </div>
    </div>
</div>
