<div class='page-header'>
    <h1>{{localize "Addresses"}}</h1>
</div>
<div class="row">
    <table>
        <tr>
            <td>{{localize "Pickup Time"}}</td>
            <td>Now</td>
        </tr>
        <tr>
            <td>{{localize "Pickup"</td>
            <td>{{pickupAddress.fullAddress}}</td>
        </tr>
        <tr>
            <td>{{localize "Destination"}}</td>
            <td>{{dropOffAddress.fullAddress}}</td>
        </tr>
        <tr>
            <td>{{localize "Fare Estimate"}}</td>
            <td></td>
        </tr>
    </table>
</div>