<div class='page-header'>
    <h1>{{localize "Book a taxi"}}</h1>
</div>
<div class="row">
    <div class="span12" id="pickup-drop-off-container">
        <form>
            <div class='pickup-address-container'></div>
            <div class='drop-off-address-container'></div>
        </form>
    </div>
    <div class='span12 hidden-right' id="address-list-container" ></div>
</div>
<div class='row'>
    <div class="span12">
        <div id="map-container" ></div>
    </div>
</div>
