<div class="row">
    <div class="span12" id="pickup-drop-off-container">
        <form>
            <label>{{localize "Pickup location"}}</label>
            <div class='pickup-address-container'></div>
            <label>{{localize "Destination"}}</label>
            <div class='drop-off-address-container'></div>
            <a href='#' class='btn btn-primary' data-action='book'>{{localize "Confirm Booking"}}</a>
        </form>
    </div>
    <div class='span12 hidden-right' id="address-list-container" ></div>
<br/><br/><br/><br/><br/><br/><br/><br/>
    <div class="span8">
        <div id="map-container" ></div>
    </div>
</div>
