<div class='row'>
  <div class='span6'>
    <div class="well" style="text-align: center;">
      <div  >        
        <a href="{{AppleLink}}">
          <img src="assets\img\app-stores-itunes.png" />
        </a>
      </div>
      <div class="text">Click the Link for iOS Devices</div>
      <div >&nbsp;</div>
      <div class="" >
        <a href="{{PlayLink}}">
          <img src="assets\img\appstores-play.png" />
        </a>
      </div>
      <div class="text">Click the Link for Android Devices</div>

      <div >&nbsp;</div>
      <div>
        <a href="#" style="text-decoration: none;">
            <div class="appstoreButton">Book Online</div>
        </a>
      </div>
      <div class="text">Click the Link to Web Booking Page</div>
    </div>
  </div>
</div>
