<div class='page-header'>
    <h1>{{localize "Login"}}</h1>
</div>
<div class="row">
    <div class="span8">
        <form class='form-horizontal'>
            <div class="control-group">
                <label class="control-label" for="login-email">{{localize "Email Address"}}</label>
                <div class="controls">
                    <input type="text" id="login-email" name="email" value="">
                    <p class="help-inline"></p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="login-password">{{localize "Password"}}</label>
                <div class="controls">
                    <input id="login-password" type="password" name="password" value="">
                    <p class="help-inline"></p>
                </div>
            </div>
            <div class='form-actions'>
                <button type="submit" class='btn btn-primary' >{{localize "Login"}}</button>
            </div>
        </form>
    </div>
    <div class='span4 errors'>
        
    </div>
</div>
