<div class="row">
    <div class='span6'>
        <div class="well">
            <form class='form-horizontal'>
                <legend>{{localize "Login"}}</legend>
                <div id="alert"></div>
                <div class='errors'></div>
                <div class="control-group">
                    <label class="control-label" for="login-email">{{localize "Email Address"}}</label>
                    <div class="controls">
                        <input type="text" class='input-block-level' id="login-email" name="email" value="">
                        <p class="help-inline"></p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="login-password">{{localize "Password"}}</label>
                    <div class="controls">
                        <input type="password" class='input-block-level' id="login-password" name="password" value="">
                        <p class="help-inline"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class='btn btn-primary btn-large pull-right span2' >{{localize "Login"}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

