<a href="#" data-action='select-order'>
    <span class="location-title">{{localize "iBSOrderIdLabel"}} {{iBSOrderId}} </span>
    <span class="location-value">{{pickupAddress.fullAddress}}</span>
</a>
