<a href="#" data-action='select-order'>
    <span class="location-title">{{localize "ibsOrderIdLabel"}} {{ibsOrderId}} ({{niceShortDateAndTime pickupDate}}) </span>
    <span class="location-value">{{pickupAddress.fullAddress}}</span>
</a>
