
        <form class="form-horizontal">
            <div id="notif-bar"></div>
            <div id="settingsContent">
            
                <div class="control-group">
                    <label class="control-label" for="inputName">{{localize "Name"}}</label>
                    <div class="controls">
                        <input type="text"  id="inputName" name="name" data-action="changesettings" value="{{settings.name}}" class='input-block-level'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPhone">{{localize "Phone"}}</label>
                    <div class="controls">
                        <input type="text" id="inputPhone" name="phone" data-action="changesettings" value="{{settings.phone}}" class='input-block-level'>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassengers">{{localize "Passengers"}}</label>
                    <div class="controls">
                        <input style="width: 60px;" type="text" id="inputPassengers" name="passengers" data-action="changesettings" value="{{settings.passengers}}" class='input-block-level'>
                        <span class="center-control-label">{{localize "Vehicle Type"}}</span>

                        <select style="float:right;width: 175px; " data-action="changesettings" name="vehicleTypeId" id="Select1" class="select-taxihail">
                            {{#each vehiclesList}}
                            {{#ifCond this.id ../vehicleTypeId}}
                            <option value="{{this.id}}" selected>{{this.display}}</option>
                            {{else}}
                            <option value="{{this.id}}">{{this.display}}</option>
                            {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="inputChargeType">{{localize "Charge Type"}}</label>
                    <div class="controls">
                        <select data-action="changesettings" id="inputChargeType" name="chargeTypeId" class="select-taxihail">
                            {{#each paymentsList}}
                            {{#ifCond this.id ../chargeTypeId}}
                            <option value="{{this.id}}" selected>{{this.display}}</option>
                            {{else}}
                            <option value="{{this.id}}">{{this.display}}</option>
                            {{/ifCond}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <a href='#' style="width:75px;" class='btn btn-large pull-right span2' data-action='startOver'>{{localize "Cancel"}}</a>
                    <a href='#' style="width:150px;" id="bookBt" class='btn btn-primary btn-large pull-right span2' data-action='savechanges' data-loading-text="{{localize 'Loading'}}">{{localize "Saves changes"}}</a>                
                </div>
            </div>
        </form>
