<div class="row">
    <div class="span6">
         <div class='well clearfix'>
            <div id="notif-bar"></div>
            <div class="control-group">
                <label class="control-label" for="email">{{localize "Email Address"}}</label>
                <div class="controls">
                    <input type="text" name="email" class='input-block-level'>
                </div>
            </div>
            <div class="control-group btn-right-alignment">
                <button type="submit" class='btn btn-primary span' data-loading-text="{{localize 'Loading'}}">{{localize "Reset Password"}}</button>
                <a href='#' class='btn span' data-action='startOver'>{{localize "Cancel"}}</a>
            </div>
        </div>
    </div>
</div>
