<div class="row">
    <div class="span6">
         <div class='well'>
            <div class='errors'></div>
            <div class="control-group">
                <label class="control-label" for="email">{{localize "Email Address"}}</label>
                <div class="controls">
                    <input type="text" name="email" class='input-block-level'>
                </div>
            </div>
    
            <div class="control-group">
                <a href='#' class='btn pull-right span' data-action='startOver'>{{localize "Cancel"}}</a>
                <button type="submit" class='btn btn-primary pull-right span' data-loading-text="{{localize 'Loading'}}">{{localize "Reset Password"}}</button>                
            </div>
        </div>
    </div>
</div>
