<div class="row">
    <div class="span6">
         <div class='well'>
            <form class="form-horizontal" id="resetPasswordForm">
                <div id="notif-bar"></div>
                <div class="control-group">
                    <label class="control-label" for="email">{{localize "Email Address"}}</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" class='input-block-level'>
                    </div>
                </div>
        
                <div class="control-group">
                    <a href='#' class='btn pull-right span' data-action='startOver'>{{localize "Cancel"}}</a>
                    <button type="submit" id="resetpassword" class='btn btn-primary pull-right span' data-action='resetpassword' data-loading-text="{{localize 'Loading'}}">{{localize "Reset Password"}}</button>                
                </div>
        </form>
        </div>
    </div>
</div>
