
        
<div class="control-group">
    <label class="control-label" for="inputName">{{localize "Name"}}</label>
    <div class="controls">
        <input type="text"  id="inputName" name="name" value="{{name}}" class='input-block-level'>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputPhone">{{localize "Phone"}}</label>
    <div class="controls">
        <input type="text" id="inputPhone" name="phone" value="{{phone}}" class='input-block-level'>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputPassengers">{{localize "Passengers"}}</label>
    <div class="controls">
        <input type="text" id="inputPassengers" name="passengers" value="{{passengers}}" class='input-block-level'>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputVehiculeType">{{localize "Vehicule Type"}}</label>
    <div class="controls">
       <select style="width: 220px ; height:40px; " name="vehicleTypeId" id="inputVehiculeType" class="select-taxihail">
                  {{#each vehiclesList}}
                  {{#ifCond this.id ../vehicleTypeId}}
                  <option value="{{this.id}}" selected>{{this.display}}</option>
                  {{else}}
                  <option value="{{this.id}}">{{this.display}}</option>
                  {{/ifCond}}
                  {{/each}}
              </select>
            
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputChargeType">{{localize "Charge Type"}}</label>
    <div class="controls">
        <select style="width: 220px" id="inputChargeType" name="chargeTypeId" class="select-taxihail">
            {{#each paymentsList}}
                {{#ifCond this.id ../chargeTypeId}}
                    <option value="{{this.id}}" selected>{{this.display}}</option>
                {{else}}
                    <option value="{{this.id}}">{{this.display}}</option>
                {{/ifCond}}
            {{/each}}
        </select>
    </div>
</div>