
        
<div class="control-group">
    <label class="control-label" for="inputName">{{localize "Name"}}</label>
    <div class="controls">
        <input type="text"  id="inputName" name="name" value="{{name}}">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputPhone">{{localize "Phone"}}</label>
    <div class="controls">
        <input type="text" id="inputPhone" name="phone" value="{{phone}}">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputPassengers">{{localize "Passengers"}}</label>
    <div class="controls">
        <input type="text" id="inputPassengers" name="passengers" value="{{passengers}}">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputVehiculeType">{{localize "Vehicule Type"}}</label>
    <div class="controls">
        <input type="text"  id="inputVehiculeType" name="vehicleTypeId" value="{{vehicleTypeId}}">
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="inputChargeType">{{localize "Charge Type"}}</label>
    <div class="controls">
        <input type="text"  id="inputChargeType" name="chargeTypeId" value="{{chargeTypeId}}">
    </div>
</div>