<div class="row">
    <div class="span6">
        <div class='well'>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#" data-action='goToProfile'>Profile</a></li>
                <li><a href="#" data-action='goToFavorites'>Favorites</a></li>
                <li><a href="#" data-action='goToHistory'>History</a></li>
                <li><a href="#" data-action='goToPassword'>Password</a></li>
            </ul>
            <div id="user-account-container"></div>
        </div>
    </div>
</div>
