<div class="row">
    <div class="span6">
        <ul class="nav nav-tabs" data-role='profile-tabs'>
            <li class="li-tabs active" data-tab='profile'><a href="#useraccount/profile">{{localize "Profile"}}</a></li>
            <li class="li-tabs" data-tab='favorites'><a href="#useraccount/favorites">{{localize "Favorites"}}</a></li>
            <li class="li-tabs" data-tab='history'><a href="#useraccount/history">{{localize "History"}}</a></li>
            <li class="li-tabs" data-tab='password'><a href="#useraccount/password">{{localize "Password"}}</a></li>
        </ul>
         <div class='well'>
            <div id="user-account-container"></div>
        </div>
    </div>
</div>
