@model bool?

@if (!Model.HasValue)
{
    <div style="height: 15px; width: 15px;  margin: auto; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; border-radius: 100%; background: grey">&nbsp;</div>;
}
else if (Model.Value)
{
    <div style="height: 15px; width: 15px;  margin: auto; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; border-radius: 100%; background: green">&nbsp;</div>;
}
else
{
    <div style="height: 15px; width: 15px;  margin: auto; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; border-radius: 100%; background: red">&nbsp;</div>;
}