<div class='tab-content'></div>
<ul class="nav nav-tabs">

    <li class='active' data-tab='search'><a href="#">{{localize "Search"}}</a>
    {{#if showFavorites}}
    <li data-tab='favorites'><a href="#">{{localize "Favorites"}}</a>
    {{/if}}
    {{#if showPlaces}}
    <li data-tab='places'><a href="#">{{localize "Places"}}</a>
    {{/if}}

</ul>
