<div class="well" style="max-width: 340px; padding: 8px 0;">
  <ul class="nav nav-list">
    <li class="nav-header">Users Managment</li>
    <li data-tabname="grantadmin">
      <a href="#">Grant access admin</a>
    </li>
    <li class="nav-header">Addresses Managment</li>
    <li data-tabname="managefavoritesdefault">
      <a href="#">Manage default favorites</a>
    </li>
  </ul>
</div>