<div class="well sidebar-nav" style='padding: 9px 0;' >
  <ul class="nav nav-list">
    <li class="nav-header">Addresses Management</li>
    <li data-route="">
      <a href="#">Default favorite addresses</a>
    </li>
    <li data-route="rates">
      <a href="#">Rates</a>
    </li>
    <li class="nav-header">Users Management</li>
    <li data-route="grantadmin">
      <a href="#">Grant access admin</a>
    </li>
  </ul>
</div>