<div class='well clearfix'>
  <h4 class="table-title">{{localize "Charge Accounts"}}</h4>
  <ul class="unstyled locations"></ul>
  <a href="../AdminTh/ImportChargeAccount/" class='btn span' data-loading-text="{{localize 'Loading'}}" data-action='importdata'>{{localize 'Import'}}</a>
</div>
