<div class='well clearfix'>
    <h4 class="table-title">{{localize "Manage Rates"}}</h4>

    <a href='#rates/add'>{{localize "Add Rate"}}</a> 

    <ul class="unstyled locations"></ul>
</div>
