<div class='well clearfix'>
    <h4 class="table-title">{{localize "Manage Rates"}}</h4>

    <a href='#rates/add' class='btn'>{{localize "Add Rate (Recurring)"}}</a> 
    <a href='#rates/add' class='btn'>{{localize "Add Rate (One day)"}}</a> 

    <ul class="unstyled locations"></ul>
</div>
