
<h4 class="table-title">{{localize "Manage Settings"}}</h4>
<div class="message"></div>

<div class="control-group">
	<label  class="control-label" style="margin-right:150px; white-space:nowrap;" >{{{localize "Hello"}}}</label>
	<div class="controls">

	</div>
</div>

<div>
  <button type='submit' class='btn btn-primary' >{{localize "Save"}}</button>
</div>