<td>{{name}}</td>
<td>{{daysOfTheWeek}}</td>
<td>{{niceTime startTime}}&nbsp;-&nbsp;{{niceTime endTime}}</td>
<td>
    <button type='button' class='btn btn-mini'>
        <i class="icon-edit icon-white"></i>
    </button>
    <button type='button' class='btn btn-mini btn-danger'>
        <i class="icon-trash icon-white"></i>
    </button>
</td>