<div class='row'>
    <div class='span6'>
        <div class='well clearfix'>
            <div class='message'></div>
            <div class="control-group">
              <label class="control-label" for="termsandconditions">{{localize "Terms and Conditions"}}</label>
              <div class="controls">
                <textarea type="text" row="8" name="termsandconditions" class='input-block-level'>{{content}}</textarea>
              </div>
            </div>
            <div class="control-group btn-right-alignment">
                <button type="submit" class='btn btn-primary span' data-action='savetermsandconditions' data-loading-text="{{localize 'Loading'}}">{{localize "Save"}}</button>
            </div>
        </div>
    </div>
</div>