/* STYLE FOR RADIO BUTTONS IN VEHICLE TYPE */

label.radio {
    display: inline;
}

label.radio > input{ /* HIDE RADIO */
  display:none;
}
label.radio > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label.radio > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #1069b8;
}