
body {
 //#gradient > .vertical(#0058A4, #003B72);
}

.login-status-zone {
    #gradient > .vertical(#00407B, #0057A3);
    border-bottom: 1px solid #003666;
}

.brand {
    background: url(../img/logo.png) no-repeat;
    top:17px;
    height:113px;
    .span(6);
    margin: 0 auto;
}

