<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://dev02/MkWeb</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>http://dev02</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/MkWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <UserName>apcurium\teamcity</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Infrastructure.Sql.EventSourcing.EventStoreDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Infrastructure.Sql.EventSourcing.EventStoreDbContext, Infrastructure.Sql" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Infrastructure.Sql.BlobStorage.BlobStorageDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Infrastructure.Sql.BlobStorage.BlobStorageDbContext, Infrastructure.Sql" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Infrastructure.Sql.MessageLog.MessageLogDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Infrastructure.Sql.MessageLog.MessageLogDbContext, Infrastructure.Sql" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="apcurium.MK.Booking.Database.BookingDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="apcurium.MK.Booking.Database.BookingDbContext, apcurium.MK.Booking" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="apcurium.MK.Common.Configuration.Impl.ConfigurationDbContext" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="apcurium.MK.Common.Configuration.Impl.ConfigurationDbContext, apcurium.MK.Common" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DbContext.BlobStorage" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbContext.BlobStorage_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbContext.EventStore" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbContext.EventStore_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbContext.MessageLog" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbContext.MessageLog_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbContext.Booking" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbContext.Booking_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbContext.SqlBus" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbContext.SqlBus_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=MKWeb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="apcurium.MK.Booking.Database.BookingDbContext" />
    <_ConnectionStringsToInsert Include="apcurium.MK.Common.Configuration.Impl.ConfigurationDbContext" />
    <_ConnectionStringsToInsert Include="Infrastructure.Sql.BlobStorage.BlobStorageDbContext" />
    <_ConnectionStringsToInsert Include="Infrastructure.Sql.EventSourcing.EventStoreDbContext" />
    <_ConnectionStringsToInsert Include="Infrastructure.Sql.MessageLog.MessageLogDbContext" />
  </ItemGroup>
</Project>